:root{
    --rosa: #ffc0cb;
    --vermelho: #ff0000;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logoname{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

header nav a{
    text-decoration: none;
    color: red;
    margin-right: 10px;
}

header nav a:hover{
    color: white;
}

/*filme principal*/

.filme.principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.40)100%), url('orgulho_e_preconceito.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo {
    color:white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
}

.descricao {
    margin-top: 5px;
    margin-bottom: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.botao {
    background-color: rgba(255, 51, 0, 0.651);
    border: none;
    color: white;

    padding: 8px;
    margin-right: 5px;
    
    cursor: pointer;
    transition: .3s ease all;
}

.botao a {
    text-decoration: none;
    color: white;
}

.botao:hover {
    background-color: red;
    color: white;
}

.botao i {
    margin-right: 5px;
}

/*wrapper*/

.container {
    /*guarda vários outros elementos dentro, ou seja, muda vários elementos*/
    margin-left: 10px;
    margin-right: 5px;
}

.filme.principal .container {
    width: 60%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.item button {
    margin-bottom: 10px;
}